div > a > img {
  background: rgb(254, 107, 34);
  background: linear-gradient(
    0deg,
    rgba(254, 107, 34, 1) 0%,
    rgba(255, 255, 255, 0) 90%
  );
  border-radius: 5px;
  filter: invert(100%);
}

div {
  display: inline-block;
}
